.clps i{
  margin-right:4px;
  position: relative;
  margin-top:-1px
}

.clps__title{
  font-weight: 300;
  display:inline-block;
  transition:all 0.2s ease;
  color:#5A5A5A;
  margin:10px 0 20px 0
}

.clps__title:hover, .clps__title:focus{
  transition:color 0.2s ease;
  color:gray;
  text-decoration: none
}

.clps--expanded .clps__title{
  color:gray;
}

.clps__content{
  display:inline-block;
  width:100%;
  position:relative;
  margin-bottom:10px
}

/* Animation */
.clps__content.ng-hide-remove,
.clps__content.ng-hide-add,
.clps__content.ng-hide-add-active,
.clps__content.ng-hide-remove-active {
  transition: all .2s ease
}

.clps__content.ng-hide-add {
  opacity: 1;
  animation: .2s fadeOut
}

.clps__content.ng-hide-remove {
  opacity: 1;
  animation: .2s fadeInUp
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    bottom: -10px
  }
  100% {
    opacity: 1;
    bottom: 0
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    bottom: 0
  }
  100% {
    opacity: 0;
    bottom: -10px
  }
}
